html {
  scroll-behavior: smooth;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: #78ff78;
}

body h1 {
  justify-self: center;
  align-self: center;
}

body h2 {
  justify-self: center;
  align-self: center;
  font-size: 100px;
}

.jedna {
  background-color: #40ff40;
  padding: 0.8rem;
  border-radius: 12px;
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.05);

}

.jedna p {
  justify-self: center;
}

.jedna p a {
  text-decoration: none;
}

header {
  background: rgba(18, 18, 18, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}


.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--text);
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 1.5rem;
}

nav ul li a {
  color: #ccc;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: var(--accent);
}

footer {
  justify-self: center;
}